@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_opsz\,wght.ttf');
    font-weight: 100 900;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.hero{
    height: 100vh;
    background-image: url('../images/main.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header{
    padding-top: 49px;
}

.container {
    width: calc(100% - 116px);
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    gap: 38px;
}

nav a {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.menu-btn {
    width: 60px;
    height: 60px;
    background: transparent;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu-btn img {
    width: 32px;
    height: 32px;
}